<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KumaFlow">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KumaFlow">
        </activity>

        <!-- PINTU 1: LOGO NORMAL (Default Aktif) -->
        <activity-alias
            android:name=".MainActivityAliasNormal"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- PINTU 2: LOGO PRIDE (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasPride"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride1"
            android:roundIcon="@mipmap/ic_launcher_pride1_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- PINTU 3: LOGO BEAR PRIDE (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasBear"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_bear_pride"
            android:roundIcon="@mipmap/ic_launcher_bear_pride_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- PINTU 4: LOGO PRIDE GLASS (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasPrideGlass"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_kumaprideglass1"
            android:roundIcon="@mipmap/ic_launcher_kumaprideglass1_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- PINTU 5: LOGO BEAR GLASS (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasBearGlass"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_kumabearglass1"
            android:roundIcon="@mipmap/ic_launcher_kumabearglass1_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>



        <!-- PINTU 6: LOGO KUMA GLASS (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasKumaGlass"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_kumaglass"
            android:roundIcon="@mipmap/ic_launcher_kumaglass_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- PINTU 7: LOGO OR (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasOR"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_kumarodrigo"
            android:roundIcon="@mipmap/ic_launcher_kumarodrigo_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- PINTU 8: LOGO OR GLASS (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasORGlass"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_kumarodrigo_glass"
            android:roundIcon="@mipmap/ic_launcher_kumarodrigo_glass_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <!-- PINTU 9: LOGO BRUTAL (Default Mati) -->
        <activity-alias
            android:name=".MainActivityAliasBrutal"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_kumabrutal"
            android:roundIcon="@mipmap/ic_launcher_kumabrutal_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".KumaService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="alarm_scheduler"/>
        </service>
        <!--
        <receiver
            android:name=".KumaReminder"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".KumaBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
            -->
        <receiver android:name=".KumaWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bearbones.kumaflow.UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/kumaflow_widget_info" />
        </receiver>

        <receiver android:name=".KumaStreakWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bearbones.kumaflow.UPDATE_STREAK_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/kumaflow_streak_widget_info" />
        </receiver>

        <service
            android:name=".services.AutoTrackerService"
            android:label="KumaFlow Notification Tracker"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>